*{
  margin:0;
  padding: 0;
  border: 0;
box-sizing: border-box;
}
:root{
  --font-default: Figtree, sans-serif;
  --font-weight-regular: 400;
  --font-size-medium:    18px;
  --font-size-large:     32px;
  --font-size-bold:      700;
  --color-primary:#fff;
  --color-secondary:;
  --color-terciary:#03580e;
  --color-success:;
  --color-warning:;
  --color-border:#333;
  --border-radius: 8px;
  --footer:200px;

}


body{
  font-family: var(--font-default);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
 
}
footer {
  background-color: var(--color-primary);
  margin-top: auto;
}
textarea{
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  width: 100%;
  padding: 20px;
}


.b-bt{
  border-bottom:1px solid var(--color-border);
}
.b-t{
  border-top:1px solid var(--color-border);
}
.b-r{
  border-right:1px solid var(--color-border);
}


header{
    background-color: var(--color-primary);
}
.container{
    margin:0 auto;
    width: 100%;
    padding:40px 10px;

}

.description{ 

  padding-bottom:40px;
  
  h2{
  font-family: var(--font-size-bold);
  font-size: var(--font-size-large);
  line-height: 120%;
  padding-bottom:10px;
  }
  
  p{
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-regular);
  
  }

  strong{
    color:var(--color-primary);
    background-color: var(--color-terciary);
    padding:5px;
  }

  .inform{
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    padding: 15px;
    line-height: 120%;
    font-size: var(--font-size-medium);
    margin: 20px 0;
    background-color:var(--color-primary);
  }

}
main{
  background: linear-gradient(to left, rgba(255,255,255,0), rgb(255, 255, 255)), url('/assets/imgs/files-and-folder-two-color.svg');
  background-size: contain;
  background-position: right;
  height: 100%;
}
.content{
  max-width: 1120px;
  display: flex;
  justify-content: start;
  flex-direction: column;
  padding: 100px 0;

   gap:40px;

  .encoder{
    width: 100%;
   
  }
  .decoder{ 
    width: 100%;
    
    input{
      width: 100%;
    }
    
  }

}

.input__buttons{
 
  padding: 20px 0;
 

  button{ 
  padding:13px 23px 13px 23px;
  border-radius: var(--border-radius);
  border:1px solid var(--color-border);
  margin-right:10px;
  font-weight: 700;
  }

  button:hover{
  color:var(--color-primary);
  background-color: var(--color-terciary);
  }


}

@media screen and (min-width:1120px) {
  
  .container{
    max-width: 1120px;
   
  }

  .content{
    flex-direction: row;
  }



  .encoder,
  .decoder {
    width: calc(50% - 20px); /* Subtraímos 20px para lidar com a margem entre os elementos */
  }
}